body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
  font-family: Aptos, sans-serif;
  background-image: url("Bokaame.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  background: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  padding: 24px;
}

/* Floating hearts */
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  animation: floatUp linear forwards;
  opacity: 0.8;
}

@keyframes floatUp {
  to {
    transform: translateY(-110vh);
    opacity: 0;
  }
}

/* Card */
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 45px;
  border-radius: 24px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  text-align: center;
  width: 380px;
  position: relative;
  z-index: 10;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
}

button {
  font-size: 18px;
  padding: 12px 18px;
  margin: 10px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
  font-size: 20px;
}

#noBtn {
  background: #eee;
  position: relative;
}

#result {
  font-size: 22px;
  margin-top: 20px;
  font-weight: bold;
  color: #ff2e63;
}
